<!DOCTYPE html>
<html>
    <head>
        <title>Države Europske unije</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    </head>
    <body>

        <script>
            $(document).ready(function() {
                $("#searchBar").on("submit", function(event) {
                    event.preventDefault();
                    let searchTextValue = $("#searchText").val();
                    let searchAttributeValue = $("#searchAttribute").val();

                    $.ajax({
                        url: "/datatable",
                        method: "POST", 
                        contentType: "application/json", 
                        data: JSON.stringify(
                            {
                                searchText: searchTextValue, 
                                searchAttribute: searchAttributeValue
                            }
                        ), 
                        success: function(res) {
                            $("tbody").html($(res.response));
                        }
                    })
                })
            });
        </script>

        <nav class="navbar bg-primary">
            <h1 class="naslov"><a href="/" class="<%if (linkActive === 'home') {%>  link-active  <%}%> naslovAnchor">Države Europske unije</a></h1>
        </nav>

        <form id="searchBar">
            <div class="form-group">
                <label for="searchText">Pretraži: </label>
                <input class="form-control" id="searchText" type="text" name="searchText" placeholder="Pretražite tablicu">    
            </div>
            <div class="form-group col-auto my-1 odabirAtributa">
                <label for="searchAttribute">Odaberi atribut pretrage: </label>
                <select class="custom-select form-control" name="searchAttribute" id="searchAttribute">
                    <option value="wildcard" selected>Sva polja (wildcard)</option>
                    <option value="naziv">Naziv</option>
                    <option value="ISO_oznaka_drzave">ISO oznaka države</option>
                    <option value="puni_naziv">Puni naziv</option>
                    <option value="datum_ulaska_u_EU">Datum ulaska u EU (yyyy-mm-dd)</option>
                    <option value="povrsina_u_km2">Površina u km^2</option>
                    <option value="broj_stanovnika">Broj stanovnika</option>
                    <option value="glavni_grad">Glavni grad</option>
                    <option value="himna">Himna</option>
                    <option value="drzavni_vrh">Državni vrh</option>
                    <option value="ISO_oznaka_jezika">ISO oznaka jezika</option>
                    <option value="jezik">Jezik</option>
                    <option value="ISO_oznaka_valute">ISO oznaka valute</option>
                    <option value="valuta">Valuta</option>
                </select>    
            </div>
            <input type="submit" value="Pretraži" class="btn btn-primary btnSubmit">
        </form>
        
        <div id="filtriraniPodaci" class="d-flex flex-column">
            <a href="/resources/drzaveEUfiltrirano.csv" download="drzaveEUfiltrirano.csv" class="btn btn-lg btn-secondary btn-block">Preuzmi podatke u formatu .csv</a>
            <a href="/resources/drzaveEUfiltrirano.json" download="drzaveEUfiltrirano.json" class="btn btn-lg btn-secondary btn-block">Preuzmi podatke u formatu .json</a>    
        </div>
        
        <table id="drzaveEU" class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Naziv</th>
                    <th>ISO oznaka države</th>
                    <th>Puni naziv</th>
                    <th>Datum ulaska u EU</th>
                    <th>Površina u km^2</th>
                    <th>Broj stanovnika</th>
                    <th>Glavni grad</th>
                    <th>Himna</th>
                    <th>Državni vrh</th>
                    <th>ISO oznaka jezika</th>
                    <th>Jezik</th>
                    <th>ISO oznaka valute</th>
                    <th>Valuta</th>
                </tr>
            </thead>
            <tbody>
                
                <% for(const row of rows) { %>
                    <tr>
                        <td> <%= row.naziv %> </td>
                        <td> <%= row.ISO_oznaka_drzave %> </td>
                        <td> <%= row.puni_naziv %> </td>
                        <td> <%= row.datum_ulaska_u_EU %> </td>
                        <td> <%= row.povrsina_u_km2 %> </td>
                        <td> <%= row.broj_stanovnika %> </td>
                        <td> <%= row.glavni_grad %> </td>
                        <td> <%= row.himna %> </td>
                        <td> <%= row.drzavni_vrh %> </td>
                        <td> <%= row.ISO_oznaka_jezika %> </td>
                        <td> <%= row.jezik %> </td>
                        <td> <%= row.ISO_oznaka_valute %> </td>
                        <td> <%= row.valuta %> </td>
                    </tr>
                <% } %>
                
            </tbody>

        </table>
    </body>
</html>